StrictHostKeyChecking accept-new
CheckHostIP no

Host *
    ControlMaster auto
    ControlPath  /tmp/%r@%h:%p
    ControlPersist 1h
    Compression yes
    AddressFamily inet
    KexAlgorithms ecdh-sha2-nistp256
