[Unit]
Description=Start local access point conditionally
Wants=network-online.target
After=everyboot.service NetworkManager.service network-online.target
ConditionPathExists=/boot/firmware/local_access_point

[Service]
ExecStart=/bin/bash /usr/local/bin/local_access_point.sh
Type=oneshot
RemainAfterExit=yes
# If the script fails, keep retrying to ensure success.
Restart=on-failure
RestartSec=15
# Add some retries to give more time for network to be fully ready
StartLimitIntervalSec=300
StartLimitBurst=5


[Install]
WantedBy=multi-user.target

