[Unit]
Description=Turn off WiFi power save
Wants=network-online.target
After=network-online.target firstboot.service sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/iw dev wlan0 set power_save off

[Install]
WantedBy=sys-subsystem-net-devices-wlan0.device