[Unit]
Description=start ngrok on startup
After=network.target

[Service]
User=pioreactor
ExecStart=/opt/ngrok/ngrok start ui ws --config /home/pioreactor/.ngrok2/ngrok.yml
ExecStartPost=pio log -m "%n successful" -n systemd  --local-only
Type=simple

[Install]
WantedBy=multi-user.target
