<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">pioreactor-worker-on-%h</name>
  <service>
    <type>_pio-worker._tcp</type>
  </service>
</service-group>